
.fly-button-great {
    display: block;
    width: 100px;
    height: 304px;
    background: #ef2200;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    position: fixed;
    right: 0;
    box-shadow: 2px 2px 6px #afb1b6;
    z-index: 100;

    animation-duration: 0.8s;
    animation-fill-mode: both;
    transform: translate(100px, 0);
}

.fly-button-great .fbg-name { display: block; width: 52px; height: 304px; background: url('../images/form-name.png') center center no-repeat; }
.fly-button-great .fbg-name.en {background: url('../images/form-name-en.png') center center no-repeat;}

.fly-button-great:hover {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #dd1f00;
}
.fly-button-great:active {
    -webkit-transition: 0.05s;
    -moz-transition: 0.05s;
    -ms-transition: 0.05s;
    -o-transition: 0.05s;
    transition: 0.05s;
    background: #ce1d00;
}

.fly-button-great.fbg-hidden {
    -webkit-animation-name: ButtonHidden;
    -moz-animation-name: ButtonHidden;
    -o-animation-name: ButtonHidden;
    animation-name: ButtonHidden;
}
.fly-button-great.fbg-visible {
    animation-duration: 0.8s;
    -webkit-animation-name: ButtonVisible;
    -moz-animation-name: ButtonVisible;
    -o-animation-name: ButtonVisible;
    animation-name: ButtonVisible;
}
.fly-button-great.fbg-rotate {
    transform-origin: 100% 50%;
    perspective-origin: 100% 50%;
    animation-duration: 0.4s;
    transform: translate(48px, 0); perspective(5000px) rotateY(0deg);
    -webkit-animation-name: ButtonRotate;
    -moz-animation-name: ButtonRotate;
    -o-animation-name: ButtonRotate;
    animation-name: ButtonRotate;
}
.fly-button-great.fbg-rotate-after {
    transform: translate(48px, 0); perspective(1000px) rotateY(-90deg);
    animation-delay: 0.7s;
    animation-name: BtnAfterShow;
}

@-webkit-keyframes ButtonVisible {
    50% { transform: translate(22px, 0); }
    100% { transform: translate(48px, 0); }
}
@keyframes ButtonVisible {
    50% { transform: translate(22px, 0); }
    100% { transform: translate(48px, 0); }
}

@-webkit-keyframes ButtonHidden {
    to { transform: translate(100px, 0); }
}
@keyframes ButtonHidden {
    to { transform: translate(100px, 0); }
}

@-webkit-keyframes ButtonRotate {
    to { transform: perspective(1000px) rotateY(-90deg); }
}
@keyframes ButtonRotate {
    to { transform: perspective(1000px) rotateY(-90deg); }
}

@-webkit-keyframes BtnAfterShow {
    to { transform: translate(48px, 0); perspective(1000px) rotateY(0deg); }
}
@keyframes BtnAfterShow {
    to { transform: translate(48px, 0); perspective(1000px) rotateY(0deg); }
}

@-webkit-keyframes MobVis {
    to { right: -48px; }
}
@keyframes MobVis {
    to { right: -48px; }
}
@-webkit-keyframes MobHid {
    to { right: -200px; }
}
@keyframes MobHid {
    to { right: -200px; }
}

/**/

.fly-form-container {
    display: block;
    width: 252px;
    background: #ffffff;
    border: 2px solid #ef2200;
    border-right: 0;
    border-radius: 6px 0 0 6px;
    position: fixed;
    right: 0;
    z-index: 101;
    box-shadow: 2px 2px 6px #afb1b6;

    transform-origin: 100% 50%;
    perspective-origin: 100% 50%;
    transform: perspective(1000px) rotateY(90deg);
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.fly-form-container.fly-rotate-show {
    -webkit-animation-name: FlyRotateShow;
    -moz-animation-name: FlyRotateShow;
    -o-animation-name: FlyRotateShow;
    animation-name: FlyRotateShow;
}

.fly-form-container.fly-rotate-hide {

    transform: perspective(1000px) rotateY(0deg);
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: FlyRotateHide;
    -moz-animation-name: FlyRotateHide;
    -o-animation-name: FlyRotateHide;
    animation-name: FlyRotateHide;

}

@-webkit-keyframes FlyRotateShow {
    to { transform: perspective(1000px) rotateY(0deg); }
}
@keyframes FlyRotateShow {
    to { transform: perspective(1000px) rotateY(0deg); }
}

@-webkit-keyframes FlyRotateHide {
    30% { transform: perspective(1000px) rotateY(-20deg); }
    100% { transform: perspective(1000px) rotateY(90deg); }
}
@keyframes FlyRotateHide {
    30% { transform: perspective(1000px) rotateY(-20deg); }
    100% { transform: perspective(1000px) rotateY(90deg); }
}

.fly-form-container .ffc-btn-close { display: inline-block; vertical-align: top; width: 16px; height: 16px; background: url('../images/close-form.png') right bottom no-repeat; cursor: pointer; position: absolute; left: 14px; top: 20px; }

.fly-form-container .ffc-btn-close:hover {
    transform: rotate(180deg);
    background: url('../images/close-form-hover.png') right bottom no-repeat;
}

.fly-form-container .ffc-title { display: block; width: 100%; margin: 20px 0 8px 0; font-family: 'PFAgoraSansPro-Medium', 'Arial'; font-size: 14px; color: #ef2200; text-align: center; text-transform: uppercase; }

.fly-form-container .ffc-content { display: block; width: 222px; margin: 0 auto; }

.fly-form-container .ffc-content .ffc-cell { display: block; width: 100%; margin-top: 14px; position: relative; }

.fly-form-container .ffc-content .ffc-cell .fly-form-input { display: block; width: 100%; padding: 6px 8px 4px 8px; font-family: 'PFAgoraSansPro-Regular', 'Arial'; font-size: 14px; color: #000000; background: none; border: 1px solid #aaacb6; }

.fly-form-container .ffc-content .ffc-cell-button { display: block; width: 100%; margin: 20px 0; position: relative; }

.fly-form-container .ffc-content .ffc-cell-button .fly-btn-form { display: block; width: 100%; padding: 8px 6px 6px 6px; background: #ef2200; font-family: 'PFAgoraSansPro-Regular', 'Arial'; font-size: 14px; color: #ffffff; border: 0; border-radius: 4px; text-transform: uppercase; }

/* custom select fly form */

.fly-form-container .ffc-content .ffc-cell .cs-select { width: 100%; font-family: 'PFAgoraSansPro-Regular', 'Arial'; font-size: 14px; color: #000000; border: 1px solid #aaacb6; }

.fly-form-container .ffc-content .ffc-cell select { display: block !important; position: absolute; left: 0; top: 0; z-index: 0; opacity: 0; visibility: hidden; }

.fly-form-container .ffc-content .ffc-cell .cs-select span { padding: 6px 8px 4px 8px !important; }
.fly-form-container .ffc-content .ffc-cell .cs-select ul { width: 101%; position: relative; left: -1px; }
.fly-form-container .ffc-content .ffc-cell .cs-select ul li { border-left: 1px solid #aaacb6; border-right: 1px solid #aaacb6; }
.fly-form-container .ffc-content .ffc-cell .cs-select ul li:last-child { border-bottom: 1px solid #aaacb6; }

.fly-form-container .ffc-content .ffc-cell .cs-skin-elastic > span { color: #000000; }

/*/custom select fly form/*/

/**/

.rc-required-icon:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/requared-icon.png') no-repeat;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 1;
}

.required-error { border: 1px solid #ef2200 !important; }

form .has-error .cs-placeholder , form .has-error input{ border: 1px solid #ff0000 !important; }
/**/