
.background-inner-content {
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/i_mobile-menu/ie_background.png') repeat;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1010;
}

/**/

.wt-mobile-menu {
    display: none;
    vertical-align: top;
    width: 60px;
    height: 60px;
    background: url('../images/i_mobile-menu/menu.png') #ffffff center center no-repeat;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1020;
}
.wt-mobile-menu.wmm-show { display: block; }
.wt-mobile-menu.wt-mm-active { right: 226px; }

/**/

.wt-mobile-content { display: none; width: 226px; height: 100%; background: #2e3454; overflow-y: auto; position: fixed; top: 0; right: -226px; z-index: 1021; }
.wt-mobile-content.wmc-show { display: block; }

.wt-mobile-content.wt-mm-cont-active { right: 0; box-shadow: 0 0 20px #2e3454; }

.wt-mobile-content .wt-link-menu { display: block; width: 100%; font-family: 'PFAgoraSansPro-Regular', 'Arial'; font-size: 18px; color: #868eb5; text-align: right; text-decoration: none; text-transform: uppercase; }

.wt-mobile-content .wt-link-menu .wt-menu-name { display: block; width: 100%; padding: 17px 24px; }

.wt-mobile-content .wt-link-menu .wt-link-separator { display: block; width: 100%; height: 1px; padding: 0 10px; }

.wt-mobile-content .wt-link-menu .wt-link-separator .separator-line { display: block; width: 100%; height: 1px; background: #363c5c; }

.wt-mobile-content .wt-link-menu:hover { background: #2a2f4c; color: #00c3d9; }

/**/

.wt-lang-mobile { display: block; width: 100%; }

.wt-lang-mobile .wt-lang-title {
    display: block;
    width: 100%;
    border-bottom: 1px solid #363c5c;
    font-family: 'PFAgoraSansPro-Regular', 'Arial';
    font-size: 18px;
    color: #868eb5;
    padding: 17px 24px;
    text-align: right;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.wt-lang-mobile .wt-lang-title:hover { background: #2c314f; }
.wt-lang-mobile .wt-lang-title.wt-lang-active { box-shadow: 0 4px 8px #232845; }

.wt-lang-mobile .wt-lang-title .wt-lang-name { display: inline-block; vertical-align: top; }

.wt-lang-mobile .wt-lang-title .wt-lang-country { display: inline-block; vertical-align: top; margin-left: 10px; }

.wt-lang-mobile .wt-lang-title .wt-lang-country img { width: 30px; position: relative; top: -2px; }

.wt-lang-mobile .wt-lang-title .wt-lang-arrow { display: inline-block; vertical-align: top; width: 8px; height: 4px; position: absolute; left: 16px; top: 14px; }

.wt-lang-mobile .wt-lang-title .wt-lang-arrow .iwt-lang-arrow { width: 8px; }
.wt-lang-mobile .wt-lang-title .wt-lang-arrow .iwt-lang-arrow.active-rotate { transform: rotate(180deg); }

.wt-lang-mobile .wt-lang-list { display: none; width: 100%; position: relative; z-index: 1; }

.wt-lang-mobile .wt-lang-list .wt-lang-item {
    display: block;
    width: 100%;
    background: #2b3153;
    font-family: 'PFAgoraSansPro-Regular', 'Arial';
    font-size: 18px;
    color: #868eb5;
    padding: 17px 24px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.wt-lang-mobile .wt-lang-list .wt-lang-item:hover { background: #2c314f; }

.wt-lang-mobile .wt-lang-list .wt-lang-item .lang-item-name { display: inline-block; vertical-align: top; }

.wt-lang-mobile .wt-lang-list .wt-lang-item .lang-item-country { display: inline-block; vertical-align: top; margin-left: 10px; }

.wt-lang-mobile .wt-lang-list .wt-lang-item .lang-item-country img { position: relative; top: -2px; }

.wt-lang-mobile .wt-lang-list .lang-item-separator { display: block; width: 100%; height: 1px; padding: 0 10px; }
.wt-lang-mobile .wt-lang-list .lang-item-separator .li-separator { display: block; width: 100%; height: 1px; background: #272c4a; }

.wt-lang-mobile .wt-lang-list .wt-ls-bottom-separator { display: block; width: 100%; height: 1px; background: #333959; }
