
.or-wrapper {
    display: block;
    width: 1300px;
    margin: 0 auto;
    min-height: 600px;
    /*max-height: 960px;*/
    padding: 20px;
    /*border: 1px solid #ff0000;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 1;*/
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}
.or-wrapper.wr-activate { opacity: 1; visibility: visible; }

.or-wrapper.internal-page .footer-container .fc-cell { padding: 12px 20px; }
.or-wrapper.internal-page .footer-container .fc-cell .pull-left { display: block !important; }
.or-wrapper.internal-page .footer-container .fc-cell .fc-location { text-align: right; }

.or-section {
    display: block;
    width: 100%;
    min-height: 410px;
    height: auto;
    /*max-height: 768px;*/
    padding: 0 160px 0 20px;
    position: relative;
    z-index: 2;
}

.or-footer {
    display: block;
    width: 100%;
    height: 62px;
    position: relative;
    z-index: 1;
}

/**/

.or-menu { display: block; width: 190px; position: absolute; top: 130px; right: 10px; z-index: 1; }

.or-menu .or-menu-item { margin-top: 10px; position: relative; left: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.or-menu .or-menu-item:last-child { margin-top: 20px; }
.or-menu .or-menu-item:hover { left: 10px; }
.or-menu .or-menu-item.active-item { left: 10px; }
/**/
.or-menu .or-menu-item.om-item-1 { padding-right: 0; }
.or-menu .or-menu-item.om-item-2 { padding-right: 0; }
.or-menu .or-menu-item.om-item-3 { padding-right: 0; }
.or-menu .or-menu-item.om-item-4 { padding-right: 0; }
.or-menu .or-menu-item.om-item-5 { padding-right: 0; }
/**/
.or-menu .or-menu-item .or-menu-link {
    padding: 10px 0 10px 30px;
    background: #ffffff;
    font-size: 14px;
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    box-shadow: 0 2px 10px #303030;
}

.or-menu .or-menu-item .or-menu-link .or-menu-icon { height: 32px; position: relative; z-index: 2;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.or-menu .or-menu-item .or-menu-link .or-menu-icon:last-child { height: 27px; }

.or-menu .or-menu-item .or-menu-link .or-menu-icon.menu-icon-1 { background: url('../images/icons-menu/icon-1.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link .or-menu-icon.menu-icon-2 { background: url('../images/icons-menu/icon-2.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link .or-menu-icon.menu-icon-3 { background: url('../images/icons-menu/icon-3.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link .or-menu-icon.menu-icon-4 { background: url('../images/icons-menu/icon-4.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link .or-menu-icon.menu-icon-5 { background: url('../images/icons-menu/icon-5.png') center center no-repeat; }

.or-menu .or-menu-item .or-menu-link .or-menu-name { margin-top: 10px; overflow: hidden; line-height: 18px; position: relative; z-index: 2;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.or-menu .or-menu-item .or-menu-link .menu-curtain {
    width: 0;
    height: 100%;
    background: #f5850c;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.or-menu .or-menu-item .or-menu-link:hover .menu-curtain { width: 100%; }
.or-menu .or-menu-item .or-menu-link:hover .or-menu-icon.menu-icon-1 { background: url('../images/icons-menu/icon-1-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link:hover .or-menu-icon.menu-icon-2 { background: url('../images/icons-menu/icon-2-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link:hover .or-menu-icon.menu-icon-3 { background: url('../images/icons-menu/icon-3-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link:hover .or-menu-icon.menu-icon-4 { background: url('../images/icons-menu/icon-4-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link:hover .or-menu-icon.menu-icon-5 { background: url('../images/icons-menu/icon-5-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link:hover .or-menu-name { color: #ffffff; }

.or-menu .or-menu-item .or-menu-link.active-page .menu-curtain { width: 100%; }
.or-menu .or-menu-item .or-menu-link.active-page .or-menu-icon.menu-icon-1 { background: url('../images/icons-menu/icon-1-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link.active-page .or-menu-icon.menu-icon-2 { background: url('../images/icons-menu/icon-2-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link.active-page .or-menu-icon.menu-icon-3 { background: url('../images/icons-menu/icon-3-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link.active-page .or-menu-icon.menu-icon-4 { background: url('../images/icons-menu/icon-4-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link.active-page .or-menu-icon.menu-icon-5 { background: url('../images/icons-menu/icon-5-active.png') center center no-repeat; }
.or-menu .or-menu-item .or-menu-link.active-page .or-menu-name { color: #ffffff; }

.or-menu.menu-fs-12 { top: auto; bottom: 20px; right: 0; }
/*
.or-menu.menu-fs-12 .or-menu-item:last-child { margin-top: 10px; }
.or-menu.menu-fs-12 .or-menu-item .or-menu-link .or-menu-name { margin-top: 0; height: 0; }
.or-menu.menu-fs-12 .or-menu-item .or-menu-link:hover .or-menu-name { margin-top: 10px; height: 20px; }
*/
.or-menu.menu-fs-12 .or-menu-item .or-menu-link { font-size: 12px; }

.or-menu .or-menu-item .or-menu-link .or-menu-name.n1 { display: block; }
.or-menu .or-menu-item .or-menu-link .or-menu-name.n2 { display: none; }

.or-menu.menu-fs-12 .or-menu-item .or-menu-link .or-menu-name.n1 { display: none; }
.or-menu.menu-fs-12 .or-menu-item .or-menu-link .or-menu-name.n2 { display: block; }



.or-menu.menu-fs-12 .or-menu-item .or-menu-link .or-menu-icon { width: 52px; float: left; margin-top: 2px; }
.or-menu.menu-fs-12 .or-menu-item .or-menu-link .or-menu-name { width: auto; margin-top: 0; margin-left: 52px; text-align: left; }
.or-menu.menu-fs-12 .or-menu-item:hover { left: 8px; }


.or-menu.menu-fs-12 .or-menu-item .or-menu-link { padding: 10px 0 10px 30px; }

/**/

.content-container { display: table; width: 100%; height: 100%; }

.content-container .cc-row { display: table-row; width: 100%; }

.content-container .cc-row .cc-cell { display: table-cell; vertical-align: top; width: 100%; }

.content-container .cc-row .cc-cell.head-content { height: 130px; padding: 10px 26px 0 26px; }

.content-container .cc-row .cc-cell.section-content { padding: 20px 26px 0 26px; }

.content-container .cc-row .cc-cell.footer-content { height: 50px; padding: 0 26px; }

/**/

.head-carousel { display: block; width: 100%; height: 120px; border-bottom: 1px solid #e1e1e1; position: relative; }

/* flex-style */
.head-carousel .slides { margin: 0; padding: 0; list-style: none; }

.head-carousel .slides > li {
    -webkit-backface-visibility: hidden;
    display: none;
}

.head-carousel .flex-direction-nav {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.head-carousel .flex-direction-nav a {
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 30px;
    box-shadow: 0 2px 4px #606060;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.head-carousel .flex-direction-nav a.flex-prev { left: -52px; background: url("../images/i_head-carousel/arr-left.png") #b7b6b6 center center no-repeat; }
.head-carousel .flex-direction-nav a.flex-next { right: -52px; background: url("../images/i_head-carousel/arr-right.png") #b7b6b6 center center no-repeat; }

.head-carousel .flex-direction-nav a.flex-prev:hover { background: url("../images/i_head-carousel/arr-left.png") #f1592a center center no-repeat; }
.head-carousel .flex-direction-nav a.flex-next:hover { background: url("../images/i_head-carousel/arr-right.png") #f1592a center center no-repeat; }

.head-carousel .flex-direction-nav a.flex-prev:active { background: url("../images/i_head-carousel/arr-left.png") #c04c25 center center no-repeat; transition: 0.1s; }
.head-carousel .flex-direction-nav a.flex-next:active { background: url("../images/i_head-carousel/arr-right.png") #c04c25 center center no-repeat; transition: 0.1s; }
/* flex-style */

.head-carousel .hc-link { display: table; width: 100%; height: 120px; text-decoration: none; }

.head-carousel .hc-link-cell { display: table-cell; vertical-align: middle; }

.head-carousel .hc-link-cell img { max-width: 100%; max-height: 120px; }

/**/

.or-title { margin-bottom: 20px; }
.or-title-name { font-size: 26px; color: #4f4269; font-weight: bold; }
.or-title-underline { display: block; width: 50px; height: 1px; background: #fc7a03; }

.or-mc-title { margin-top: 30px; }











