
@media screen and (max-width: 1200px) {

    .top-section { max-width: 100%; width: 100%; padding: 0 20px; }

    .contacts-info-container .cic-cell { width: 460px; }
    .contacts-info-container .cic-cell .cic-description .cic-map { height: 454px; }

}

@media screen and (max-width: 1000px) {

    .contacts-info-container .cic-cell { width: 346px; }

}

@media screen and (max-width: 750px) {

    .top-section { margin: 96px auto 0 auto; padding: 0 0; }

    .contacts-title { text-align: center; }

    .contacts-call-container .c-item { display: block; width: 100%; margin-right: 0; margin-bottom: 20px; }

    .contacts-call-container { padding: 0 20px; }
    .contacts-info-container { padding: 0 12px; margin-bottom: 0; }

    .contacts-info-container .cic-cell { width: 100%; margin-bottom: 20px; }

    .contacts-info-container .cic-cell .cic-description .cic-map .cm-big { display: none; }
    .contacts-info-container .cic-cell .cic-description .cic-map .cm-small { display: block; }

    .contacts-info-container .cic-cell .cic-description .cic-map { height: 280px; }



}
