
.top-section { display: block; max-width: 990px; margin: 114px auto 0 auto; font-size: 14px; color: #000000; position: relative; top: -50px; opacity: 0; visibility: hidden; }
.top-section.show-section { opacity: 1; visibility: visible; top: 0; }

/**/

.top-section .view-title { display: block; width: 100%; font-family: 'PFAgoraSansPro-Medium', 'Arial'; font-size: 30px; color: #00c2d9; text-transform: uppercase; }

.top-section .view-sub-title { display: block; width: 100%; margin-top: 16px; font-size: 18px; line-height: 22px; }

.top-section .view-description-container { display: block; width: 100%; font-size: 16px; }

.top-section .view-description-container span { display: block; width: 100%; margin-top: 20px; }

.top-section .printscreen-container { display: block; width: 100%; font-size: 16px; margin-bottom: 50px; }

.top-section .printscreen-container .i-screen { display: block; width: 100%; margin-top: 50px; }

/**/

.top-section .btn-back-block { display: block; width: 100%; }

.top-section .btn-back-block a { display: inline-block; vertical-align: top; padding: 5px 10px; background: #eceff5; font-size: 18px; color: #00c2d9; text-decoration: none; border-radius: 5px; position: relative; top: -18px; }
.top-section .btn-back-block a:hover { background: #e6e9ef; }

/**/




















