
.team-container { display: block; width: 1000px; margin: 50px auto 130px auto; }

.team-container .tc-left-cell {
    display: inline-block;
    vertical-align: top;
    max-width: 460px;
    font-size: 0;
    float: left;

    opacity: 0;
    visibility: hidden;

    animation-duration: 1.1s;
    animation-fill-mode: both;

    transform: perspective(1000px) rotateY(-90deg);
    transform-origin: 100% 50%;
    perspective-origin: 100% 50%;
}

.team-container .tc-right-cell {
    display: inline-block;
    vertical-align: top;
    max-width: 524px;
    font-size: 0;
    text-align: right;
    float: right;

    opacity: 0;
    visibility: hidden;

    animation-duration: 1.1s;
    animation-fill-mode: both;

    transform: perspective(1000px) rotateY(90deg);
    transform-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.team-container.team-show-effect .tc-left-cell { animation-name: teamAnimateLeft; }
.team-container.team-show-effect .tc-right-cell { animation-name: teamAnimate; }

@-webkit-keyframes teamAnimateLeft {
    to { visibility: visible; opacity: 1; transform: perspective(1000px) rotateY(0deg); }

    50% { transform: perspective(1000px) rotateY(45deg); }
    100% { transform: perspective(1000px) rotateY(0deg); }
}
@keyframes teamAnimateLeft {
    to { visibility: visible; opacity: 1; transform: perspective(1000px) rotateY(0deg); }

    50% { transform: perspective(1000px) rotateY(45deg); }
    100% { transform: perspective(1000px) rotateY(0deg); }
}
@-webkit-keyframes teamAnimateLeftMobile {
    to { visibility: visible; opacity: 1; transform: perspective(1000px) rotateY(0deg); }
}
@keyframes teamAnimateLeftMobile {
    to { visibility: visible; opacity: 1; transform: perspective(1000px) rotateY(0deg); }
}

@-webkit-keyframes teamAnimate {
    to { visibility: visible; opacity: 1; transform: perspective(1000px) rotateY(0deg); }

    50% { transform: perspective(1000px) rotateY(-45deg); }
    100% { transform: perspective(1000px) rotateY(0deg); }
}
@keyframes teamAnimate {
    to { visibility: visible; opacity: 1; transform: perspective(1000px) rotateY(0deg); }

    50% { transform: perspective(1000px) rotateY(-45deg); }
    100% { transform: perspective(1000px) rotateY(0deg); }
}

/**/

.tcl-item { display: inline-block; vertical-align: top; width: 220px; margin-top: 50px; font-size: 14px; text-align: center; }

.tcl-item .tc-icon-block { display: block; width: 100%; height: 125px; }

.tcl-item .tc-icon-block.tc-icon-background-1 { background: url('../images/i_team/icon-1.png') center bottom no-repeat; }
.tcl-item .tc-icon-block.tc-icon-background-2 { background: url('../images/i_team/icon-2.png') center bottom no-repeat; }
.tcl-item .tc-icon-block.tc-icon-background-3 { background: url('../images/i_team/icon-3.png') center bottom no-repeat; }
.tcl-item .tc-icon-block.tc-icon-background-4 { background: url('../images/i_team/icon-4.png') center bottom no-repeat; }

.tcl-item .tc-icon-description { display: block; width: 100%; margin-top: 18px; font-family: 'PFAgoraSansPro-Medium', 'Arial'; font-size: 18px; color: #000000; line-height: 20px; }

/**/

.tcr-item { display: inline-block; vertical-align: top; width: 238px; margin: 20px 0 0 20px; font-size: 14px; text-align: center; }

.tcr-item .tcr-item-square { display: block; width: 100%; max-height: 227px; height: 227px; overflow: hidden; position: relative; }

.tcr-item .tcr-item-square .tc-item-photo { width: 100%; position: absolute; left: 0; top: 0; z-index: 1; opacity: 1; visibility: visible; }
.tcr-item .tcr-item-square .tc-color { opacity: 0; visibility: hidden; }

.tcr-item .tcr-item-square:hover .tc-item-photo { opacity: 0; visibility: hidden; }
.tcr-item .tcr-item-square:hover .tc-color { opacity: 1; visibility: visible; }

.tcr-item .tcr-item-square .tc-vacancy-link { display: table; width: 100%; height: 227px; color: #ffffff; text-decoration: none; }

.tcr-item .tcr-item-square .tc-vacancy-link .tcv-link-cell { display: table-cell; vertical-align: middle; text-align: center; background: #ef2200; }

.tcr-item .tcr-item-square .tc-vacancy-link .tcv-link-cell .tcv-icon { display: inline-block; vertical-align: middle; width: 100%; margin-top: 46px; }
.tcr-item .tcr-item-square .tc-vacancy-link .tcv-link-cell .tcv-icon .tcv-add { width: 80px; }

.tcr-item .tcr-item-square .tc-vacancy-link .tcv-link-cell .tcv-description {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 34px;
    font-family: 'PFAgoraSansPro-Regular', 'Arial';
    font-size: 17.98px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}
.tcr-item .tcr-item-square .tc-vacancy-link .tcv-link-cell .tcv-description .tcv-text-dotted {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px dotted #ffffff;
    opacity: 1;
    visibility: visible;
}

.tcr-item .tcr-item-square .tc-vacancy-link:hover .tcv-link-cell { background: #dd1f00; }
.tcr-item .tcr-item-square .tc-vacancy-link:active .tcv-link-cell { background: #ce1d00; transition: 0.05s; }
.tcr-item .tcr-item-square .tc-vacancy-link:hover .tcv-link-cell .tcv-icon .tcv-add { transform: rotate(180deg); }
.tcr-item .tcr-item-square .tc-vacancy-link:hover .tcv-link-cell .tcv-description .tcv-text-dotted { opacity: 0; visibility: hidden; }
