
@font-face {
    font-family: 'PFAgoraSansPro-Regular';
    src: url('PFAgoraSansPro-Regular/PFAgoraSansPro-Regular.otf');
    src: local('☺'), url('PFAgoraSansPro-Regular/PFAgoraSansPro-Regular.woff') format('woff'), url('PFAgoraSansPro-Regular/PFAgoraSansPro-Regular.ttf') format('truetype'), url('PFAgoraSansPro-Regular/PFAgoraSansPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFAgoraSansPro-Medium';
    src: url('PFAgoraSansPro-Medium/PFAgoraSansPro-Medium.otf');
    src: local('☺'), url('PFAgoraSansPro-Medium/PFAgoraSansPro-Medium.woff') format('woff'), url('PFAgoraSansPro-Medium/PFAgoraSansPro-Medium.ttf') format('truetype'), url('PFAgoraSansPro-Medium/PFAgoraSansPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFAgoraSansPro-Thin';
    src: url('PFAgoraSansPro-Thin/PFAgoraSansPro-Thin.otf');
    src: local('☺'), url('PFAgoraSansPro-Thin/PFAgoraSansPro-Thin.woff') format('woff'), url('PFAgoraSansPro-Thin/PFAgoraSansPro-Thin.ttf') format('truetype'), url('PFAgoraSansPro-Thin/PFAgoraSansPro-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFAgoraSansPro-ThinItalic';
    src: url('PFAgoraSansPro-ThinItalic/PFAgoraSansPro-ThinItalic.otf');
    src: local('☺'), url('PFAgoraSansPro-ThinItalic/PFAgoraSansPro-ThinItalic.woff') format('woff'), url('PFAgoraSansPro-ThinItalic/PFAgoraSansPro-ThinItalic.ttf') format('truetype'), url('PFAgoraSansPro-ThinItalic/PFAgoraSansPro-ThinItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFAgoraSansPro-Light';
    src: url('PFAgoraSansPro-Light/PFAgoraSansPro-Light.otf');
    src: local('☺'), url('PFAgoraSansPro-Light/PFAgoraSansPro-Light.woff') format('woff'), url('PFAgoraSansPro-Light/PFAgoraSansPro-Light.ttf') format('truetype'), url('PFAgoraSansPro-Light/PFAgoraSansPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}